<div class="row justify-content-around">
  <!-- left side start -->
  <div class="col-12 col-md-5 col-xl-3  side">
    <form role="search" class="search-form dark-outline-form mb-3" method="get">
      <div class="input-group rounded-pill">
        <input #searchinput type="text" class="form-control" name="title" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn">查詢</button>
        </div>
      </div>
    </form>
    <div class="side-list item-light text-theme-color p-4">
      <h4>最新文章</h4>
      <ul class="p-0">
        <li *ngFor="let item of sideNewArticles">
          <a routerLink="/article-detail/{{item.id}}" class="text-theme-color">{{item.title}}</a>
          <p class="text-light-color">{{item.createTime+'z' |date:'short':'UTC+8':'zh'}}</p>
        </li>
      </ul>

    </div>
  </div>
  <!-- left side end -->
  <!-- main article start -->
  <div class="col-12 col-md-7 col-xl-9 ">
    <div class="mb-3 d-flex justify-content-end">顯示頁數
      <select #mySelect (change)="selected(mySelect.value)" [value]="ArticlesPageFillter.pageSize">
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>
    <div class="row align-items-stretch">
      <div class="col-xl-6 mb-3 article-item" *ngFor="let article of articles">
        <article class="item-white text-light-color ">
          <div><a routerLink='/article-detail/{{article.id}}'><img src={{article.imgBase64}} class="article-img"></a>
          </div>
          <div class="article-wrap">
            <small class="article-info text-light-color">
              {{article.name}}
            </small>
            <h5 class="article-title "><a class="text-theme-color"
                routerLink='/article-detail/{{article.id}}'>{{article.title}}</a></h5>
            <pre class="article-content text-light-color">{{article.content}}</pre>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3"></div>
    <div class="col-9">
      <ngb-pagination class="d-flex justify-content-center mt-3" [collectionSize]="ArticlesPageFillter.collectionSize"
        [(page)]="ArticlesPageFillter.nowPage" [pageSize]="ArticlesPageFillter.pageSize" (pageChange)="getArticles()">
        <ng-template ngbPaginationPrevious>上一篇</ng-template>
        <ng-template ngbPaginationNext>下一篇</ng-template>
      </ngb-pagination>
    </div>
  </div>
  <!-- main article end -->
</div>
